{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <input type="hidden" name="item_type" value="{% block item_type %}{% endblock item_type %}">

  <label for="item_name">What is the item?</label>
  <input name="item_name" id="item_name" value="{{ request.form['item_name'] }}" required>

  <label for="author">Your name?</label>
  <input name="author" id="author" value="{{ request.form['author'] }}">

  <label for="email">Your email</label>
  <input name="email" id="author" type="email" value="{{ request.form['email'] }}" required>

  <label for="sighting_time">{% block sighting_time_question %}{% endblock sighting_time_question %}</label>
  <input name="sighting_time" id="sighting_time" type="date" value="{{ request.form['sighting_time'] }}"
    {% block time_place_reqd %}{% endblock time_place_reqd %}>

  <label for="place">{% block place_question %}{% endblock place_question %}</label>
  <input name="place" id="place" value="{{ request.form['place'] }}" {{ self.time_place_reqd() }}>

  <label for="info">Any other information?</label>
  <textarea name="info" id="info">{{ request.form['info'] }}</textarea>
  <input type="submit" value="Report item">
</form>
{% endblock %}