{% extends 'base.html' %}

{% block title %}{{ item['item_name'] }} ({% if item['item_type'] == "lost" %}lost
item{% elif item['item_type'] == "found" %}found item{% endif %}){% endblock title %}

{% block content %}
<article class="item">
  <header>
    <h1>
      {{ item['item_name'] }}
    </h1>
    <div class="about">submitted by
      {% if item['author'] %}
      {{ item['author'] }} ({{ item['email'] }})
      {% else %}
      {{ item['email'] }}
      {% endif %} on {{ item['created'].strftime('%m/%d/%y') }}
    </div>
  </header>
  <div class="info">
    <p class="item-type">Item type: {{ item['item_type'] }}</p>
    <p class="item-info">
      {% if item['item_type'] == "lost" %}Last seen{% elif item['item_type'] == "found" %}Found{% endif %}
      {% if item['sighting_time'] %} on {{ pprint_iso_date(item['sighting_time']) }}{% endif %}
      {% if item['place'] %} at {{ item['place'] }}{% endif %}.
    </p>
    {% if item['info'] %}
    {{ item['info'] }}
    {% endif %}</p>
  </div>
  <form action="{{ url_for('item_tracker.resolve', item_id=item['id']) }}" method="POST">
    <label for="resolve">Mark resolved - {% if item['item_type'] == "lost" %}this item has been
      found{% elif item['item_type'] == "found" %}this item has been returned to it's owner{% endif %}.</label>
    <input type="submit" name="resolve" id="resolve" value="Mark resolved">
  </form>
</article>
{% endblock content %}